* {
  box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E1E1E1;
}

.chart-container {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1400px){
  .chart-container {
    flex-direction: column;
  }
}